{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
	<h2 class="text-center"> index - dashboard  </h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

	<!---  Show The Alert Message  ----------------------------- -->
	{% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  

<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox">

			
{% comment %} ================================================================================== {% endcomment %}

<div class="side-bar col-md-3">
	<div class="search-hotel">
					<h3 class="agileits-sear-head">Search Here..</h3>
					<form action="{% url 'search_product-URL' %}" method="POST" novalidate>
                        {% csrf_token %}
						<input type="search" placeholder="Product name..." name="search" >
						<input type="submit" >
					</form>

		<div class="left-side">
						<div class="list-group">
							<a href="/category_path" class="list-group-item list-group-item-action btn btn-outline-success">All Category</a>
							{% for category_item in categories_VAR %}
							<a href="/category_path?category_item={{category_item.id}}"
							print(category_item.id)
								class="list-group-item list-group-item-action btn btn-outline-success ">{{category_item.Cate_name}}</a>
							{% endfor %} 

							{% for category_item in categories_VAR %}
							<a  href="/category_path?category_item={{category_item.id}}"> <p>{{category_item.Cate_name}} <p></a>
							{% endfor %}


								{% comment %} <div class="left-side">
								<a href="/category_sub_path" class="list-group-item list-group-item-action btn btn-outline-success">All Subcategory</a>
								{% for category_sub_item in sub_categories_VAR %}
								<a href="/category_sub_path?category_sub_item={{category_sub_item.id}}"
								class="list-group-item list-group-item-action btn btn-outline-success ">{{category_sub_item.SubCat_name}}</a>
								{% endfor %}
							</div>  {% endcomment %}
		</div>
	</div>
</div>

<div class="deal-leftmk left-side">
	<div class="special-sec1">
		<div class="clearfix"></div>
	</div>
</div>
</div>

{% comment %} ===================================================================================== {% endcomment %}

<div class="col-md-9 product-men">
	<div class="container mt-2 mb-3" >
		<div class="row">
			
			{% for products_all_itme_VAR in products_all_VAR %}

				<div class="col-lg-4 my-4">
					<div class="card shadow align-items-center" style="width: 13rem; height: 25rem;">

						{% comment %} (1)View Image product  {% endcomment %}
						<img class="profile_img" src=" {{ products_all_itme_VAR.product_image.url }}" alt="" width="150" height="150">
								<div class="card-body"> 

						{% comment %} (2)Product Name  & Link Product Details{% endcomment %}
								<a> {{products_all_itme_VAR.product_name }}</a>  <hr>
				

						{% comment %} (3)View product details {% endcomment %}
								<a href="{% url 'product_detail-URL' products_all_itme_VAR.id %}">Quick View</a>
								
							<div class="info-product-price">

						{% comment %} (4)The price after discount {% endcomment %}
								<span class="item_price"> {{products_all_itme_VAR.product_price }}</span> 

						{% comment %} (5)Price before discount {% endcomment %}
								<del>$110.00</del> 
							</div>
								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

						{% comment %} Form Action {% endcomment %}
								<form action="{% url 'add_to_cart-URL' %}" method="GET">
									<fieldset> 
										<input type="hidden" name="pro_id" value="{{ products_all_itme_VAR.id }}">
										<input type="hidden"   name="qty" lass="form-control" id ="inputqty"  value="1" >
										<input type="submit" name="submit"  value="Add To Cart" class="button" />
									</fieldset>
								</form>

</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
	




{% endblock CONTENTS_PAGE %} 



<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 
